{% extends "base.html.twig" %}

{% block title 'Margaux Besson/Livre d\'or' %}
{% block metaTag %}<meta name="description" content="N'hésitez surtout pas à laisser un commentaire à propos de votre shooting avec Margaux Besson, photographe à Lisbonne">{% endblock %}

{% block body %}
    <div class="container min-vh-100 justify-content-center m-auto">

        {% for message in app.flashes('success') %}
            <div class="alert alert-sucess bg-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        
        <h1 class="titleGoldenBook text-center mt-5 text-warning border border-warning px-5 py-2">Livre D'or</h1>
        <p class="textGoldenBook text-center text-light mb-4">Parceque votre avis compte, nous vous laissons la parole.</p>
        {% for comment in comments %}
            <div class="col-12 my-3 text-warning">
                <h4 class="nameGoldenBook text-light">{{comment.name}}</h4>
                <p>{{comment.date}}</p>
                <p>{{comment.comment}}</p>
                {% if app.user %}
                    <form method="post" class="mb-5 d-inline-block" action="{{ path('admin.comment.delete', {id: comment.id}) }}" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
        <div class="col text-right mb-4">
            <a href="{{ path('comment.new') }}" class="btn btn-dark border border-warning text-warning">Nouveau commentaire</a>
        </div>
        <div class="navigation m-auto">
            {{ knp_pagination_render(comments, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>   
    </div>
{% endblock %}
